<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Head-->
<head th:replace="fragments/head :: head"></head>
<body>
<div class="wrapper">
    <!--Nav-->
    <div th:replace="fragments/nav::nav"></div>
    <div id="page-wrapper">

        <!--Page Title-->
        <div lang="de" th:replace="fragments/page-title :: page-title"></div>

        <!--Content-->
        <div th:replace="@{${content}} :: ${content}"></div>
    </div>
</div>
<!--Footer-->
<div lang="de" th:replace="fragments/footer :: footer"></div>
</body>
</html>