<div xmlns:th="http://www.thymeleaf.org" class="col-lg-12" th:fragment="product">
    <div class="panel panel-default">
        <div class="panel-heading" th:text="${pageTitle}"></div>
        <div class="panel-body">
            <form action="#" th:action="@{create}" th:object="${product}" method="post" class="form-horizontal"
                  role="form">
                <!--                <div class="form-group">
                                    <label for="categoryId" class="col-sm-3 control-label">Kategorie</label>
                                    <div class="col-sm-9">
                                        <select id="categoryId" class="form-control" th:field="${product.category}"
                                                title="Category">
                                            <option th:each="item : ${categories}"
                                                    th:value="${item.id}"
                                                    th:text="${item.code}+' '+${item.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                -->
                <div class="form-group">
                    <label for="supplierId" class="col-sm-3 control-label">Lieferant</label>
                    <div class="col-sm-9">
                        <select id="supplierId" class="form-control" th:field="${product.supplier}"
                                title="Supplier">
                            <option th:each="item : ${suppliers}"
                                    th:value="${item.id}"
                                    th:text="${item.name}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-3 control-label">Anzahl</label>
                    <div class="col-sm-9">
                        <input type="text" id="amount" placeholder="Adapterkabel Td T13 CEE16/230 sz 10.0 m"
                               class="form-control"
                               th:field="*{amount}"/>
                        <span style="color: red; ">
                            <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Title error message</td>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Speichern</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <a href="/admin/products/" class="btn btn-default btn-block">Zurück</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>