<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.spring-friendly.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/dataTables.select.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/dataTables.editor.min.js}"></script>

    <!--<script th:src="@{/vendor/datatables/pro/js/editor.jqueryui.min.js}"></script>
    <script th:src="@{/vendor/datatables/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/buttons.print.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/editor.bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/editor.foundation.min.js}"></script>
    <script th:src="@{/vendor/datatables/pro/js/editor.semanticui.min.js}"></script>-->

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/sb-admin-2.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Init DataTables -->
    <script th:src="@{/js/datatables.js}"></script>
</div>


