<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/js/jquery.spring-friendly.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/sb-admin-2.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables-plugins/dataTables.buttons.js}"></script>
    <script th:src="@{/vendor/datatables-plugins/dataTables.select.js}"></script>
    <script th:src="@{/vendor/datatables/js/dataTables.bootstrap.min.js}"></script>

    <!--Customs-->
    <script th:src="@{/js/bootstrap-alerts.js}"></script>

    <!-- Init DataTables -->
    <script th:src="@{/js/datatable/datatable-article.js}"></script>
    <script th:src="@{/js/datatable/datatable-product.js}"></script>
    <script th:src="@{/js/datatable/datatable-color.js}"></script>
    <script th:src="@{/js/datatable/datatable-group.js}"></script>
    <script th:src="@{/js/datatable/datatable-length.js}"></script>
    <script th:src="@{/js/datatable/datatable-location.js}"></script>
    <script th:src="@{/js/datatable/datatable-supplier.js}"></script>
    <script th:src="@{/js/datatable/datatable-typgroup.js}"></script>
    <script th:src="@{/js/datatable/datatable-typ.js}"></script>
    <script th:src="@{/js/datatable/datatable-category.js}"></script>
</div>


