<div class="row" th:fragment="page-title(title)" xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-12">
        <h1 class="page-header" th:text="${title}"></h1>
    </div>
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable fade in hidden" id="alertD">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong id="alertDTitle">Achtung!</strong> <i id="alertDMessage"></i>
        </div>
    </div>
</div>

